/* Header Styles */
.header {
    width: 100%;
    height: 73px;
    background: white;
    border-bottom: 1.5px solid rgba(29, 36, 46, 0.3);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-right: 20px;
    margin: 0;
}

.logo {
    width: 289px;
    height: 68px;
    object-fit: contain;
}

.datetime {
    font-weight: 500;
    font-size: 14px;
    line-height: 23px;
    color: #1D242E;
    text-align: right;
}